.aboutme_img img{width:60px;height:60px;}

@media screen and (min-width:768px)
{
    .aboutme_img img{width:90px;height:90px;}
}
@media screen and (min-width:992px)
{
    .aboutme_img img{width:150px;height:150px;}
}

