body,div,ul,li{margin:0;padding:0;}
body{background-color:#000;}

#nav{height:250px;overflow:hidden;border-top:1px solid #199;border-bottom:1px solid #166;background:#eee;}

a:link,a:visited{outline:none;text-decoration:none;}

#nav ul li{float:left;list-style:none;}
#nav ul{margin-top:100px;margin-left:100px;}
#nav ul li a{float:left;color:#333;height:50px;font:16px/50px Arial;padding:0 20px;margin:0px 25px;}/*菜单的样式*/
#nav ul li a:hover{color:#FFF;background:#111;}
/*菜单选中时的背景*/
.menu{display:none;}
li:hover .menu{display:block;background-color:#111;width:auto;height:50px;color:#fff;position:absolute;margin-top:50px;}


