hr{width:50%;}
.body{background-color:#f9fff9;}
.masthead
{
    background: url(../img/index_cover.jpg) repeat center center;
    text-align:center;
}
.masthead h1
{
    font-size: 60px;
    color: #dff;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px;
}
.masthead h2
{
    color:#fff;
    font-weight: 200;
    font-size: 18px;
}
.update h1
{
    text-align:center;
    font-size: 20px;
    color: #1E90FF;
    font-weight: 500;
}
#update_img img{width:30px;height:30px;}
#hello_img img{width:60px;height:60px;}


.back-to-top{display:none;position:fixed;bottom:50px;right:30px;}

.article_title{color:#222;}
.article_date{position:absolute;right:15px;color:#aaa;}

.update_articles{border:2px solid #eee;padding:10px;margin-top:10px;}
.article_img{padding:auto 0px;}
.article_img img{width:90px;height:90px;}
.article_text{position:absolute;float:right;padding:20px;margin:auto 10px;}
.foot{background:#ccc;padding:50px;}
#copyright {font-size: 20px;text-align:center;background:#333;color:#ccc;padding:10px;}
@media screen and (min-width:768px)
{
    #update_img img{width:50px;height:50px;}
    #hello_img img{width:90px;height:90px;}
    .article_img img{width:150px;height:150px;}
    .back-to-top{display:block;}
    .masthead h1
    {
        font-size: 90px;
    }
    .masthead h2
    {
        font-size: 24px;
    }
    .update h1
    {
        font-size: 40px;
    }
}
@media screen and (min-width:992px)
{
    #hello_img img{width:150px;height:150px;}
    .masthead h1
    {
        font-size: 150px;
    }
    .masthead h2
    {
        font-size: 30px;
        font-weight: 500;
    }
}

